.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
  'content'
  'sidebar';
  transition: .3s;

  @media (min-width: 768px) {
    grid-template-rows: 1fr;
    grid-template-columns: 78px 1fr;
    grid-template-areas:
    'sidebar content';
  }

  &.active {

    @media (min-width: 768px) {
      grid-template-columns: 25% auto;
    }
  }
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  padding: 1rem;
  border-top: 1px solid var(--default);
  overflow: hidden;
  align-items: start;
  background-color: var(--white);

  @media (min-width: 768px) {
    border-top: none;
    border-right: 1px solid var(--default);
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.content {
  grid-area: content;
  padding: 1rem;
}