.layout {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
  'content'
  'sidebar';
  transition: .3s;

  @media (min-width: 768px) {
    grid-template-rows: 1fr;
    grid-template-columns: 56px 1fr;
    grid-template-areas:
    'sidebar content';
  }

  &.active {

    @media (min-width: 768px) {
      grid-template-columns: 35% auto;
    }

    @media (min-width: 992px) {
      grid-template-columns: 30% auto;
    }

    @media (min-width: 1200px) {
      grid-template-columns: 25% auto;
    }
  }
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  border-top: 1px solid var(--default);
  overflow: hidden;
  align-items: start;
  background-color: var(--white);

  @media (min-width: 768px) {
    padding: 1rem 0;
    border-top: none;
    border-right: 1px solid var(--default);
  }
}

.content {
  grid-area: content;
  padding: 2rem 1rem;

  @media (min-width: 768px) {
    padding: 2rem;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(56px, 1fr));
  grid-template-rows: auto;

  @media (min-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  white-space: nowrap;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }

  &.activeItem {
    background-color: #f8f8f8;
  }
}


.trigger,
.label {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}