:root {
  --text: #121212;
  --main-bg: #fcfcfc;
  --white: #fff;
  --default: #e1e1e1;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text);
  background-color: var(--main-bg);
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  text-rendering: optimizespeed;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  padding: 0;
  cursor: pointer;
  border: none;
}

input,
button,
textarea,
select {
  color: inherit;
  background-color: transparent;
  font: inherit;
}

img,
picture,
video,
iframe {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

figure {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 500;
  line-height: 1.2;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
p {
  margin: 0.75rem 0;
}